{% extends "mailing/base.html" %}

{% block title %}Рассылка: {{ mailing_unit.message }}{% endblock %}

{% block content %}

    {% if mailing_unit.status == 'Launched' %}
    <p>Запущена в: {{ mailing_unit.started_at }}</p>
    {% elif mailing_unit.status == 'Finished' %}
    <p>Завершена в: {{ mailing_unit.finished_at }}</p>
    {% else %}
    <p> Рассылка еще не была запущена </p>
    {% endif %}

    <p>Тема: <a href="{% url 'mailing:message-detail' mailing_unit.message.pk %}">{{ mailing_unit.message }}</a></p>
    <p>Получатели: </p>
    <ul>
        {% for receiver in mailing_unit.receivers.all %}
            <li><a href="{% url 'mailing:mail-receiver-detail' receiver.pk %}">{{ receiver }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
    <div class="col-1">
    <p>Статус: {{ mailing_unit.status }}</p>
        </div>
    <div class="col-1">
    <p><a href="{% url 'mailing:mailing-attempts-list' mailing_unit.pk %}">Посмотреть историю</a></p>
    </div>
    </div>
    {% if mailing_unit.status != 'Launched' %}
        <form action="{% url 'mailing:mailing-unit-send-mail' mailing_unit.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Начать Рассылку</button>
        </form>
        {% else %}
        <div class="row">
        <div class="col-3">
        <form action="{% url 'mailing:mailing-unit-send-mail' mailing_unit.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить Рассылку еще раз</button>
        </form>
            </div>
        <div class="col-2">
        <form action="{% url 'mailing:mailing-unit-stop-mail' mailing_unit.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Завершить Рассылку</button>
        </form>
        </div>
            </div>
    {% endif %}


<a href="{% url 'mailing:mailing-unit-update' mailing_unit.pk %}">
    <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Редактировать</button>
</a>
<a href="{% url 'mailing:mailing-unit-delete' mailing_unit.pk %}">
    <button type="button" class="btn btn-lg btn-block btn-outline-danger">Удалить</button>
</a>

{% endblock %}