{% extends "mailing/base.html" %}

{% block title %}Рассылка: {{ mailing_unit.message }}{% endblock %}

{% block content %}

    <p>Запущена в: {{ mailing_unit.started_at }}</p>

    <p>Тема: <a href="{% url 'mailing:message-detail' mailing_unit.message.pk %}">{{ mailing_unit.message }}</a></p>
    <p>Получатели: {{ mailing_unit.receivers }}</p>
    <p>Статус: {{ mailing_unit.status }}</p>


<a href="{% url 'mailing:mailing-unit-update' mailing_unit.pk %}">
    <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Редактировать</button>
</a>
<a href="{% url 'mailing:mailing-unit-delete' mailing_unit.pk %}">
    <button type="button" class="btn btn-lg btn-block btn-outline-danger">Удалить</button>
</a>

{% endblock %}